@model OnlineExamPortalDemo.Models.Question;  
@{
}
<h1>Add Questions</h1>
<form method="post" action="create" class="mt-5" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="" class="form-label">Question</label>
    <input type="text" class="form-control" asp-for="Question1" required>
  </div>
    <div class="mb-3">
        <label for="" class="form-label">Option1</label>
        <input type="text" class="form-control" asp-for="Option1" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Option2</label>
        <input type="text" class="form-control" asp-for="Option2" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Option3</label>
        <input type="text" class="form-control" asp-for="Option3" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Option4</label>
        <input type="text" class="form-control" asp-for="Option4" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Correct Answer</label>
        <input type="text" class="form-control" asp-for="Correctans" required>
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Upload file</label>
        <input name="files" class="form-control" asp-for="files" required>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>