<h1>Select your Exam</h1>
<div class="col">
    <div class="form-floating">
      <select class="form-select" id="floatingSelectGrid" aria-label="">
        <option selected>License Exam</option>
        
       @* <option value="1">Licence Exam</option>*@
      </select>
      <label for="floatingSelectGrid">Exam Selection</label>
    </div>
  </div>
  <div class="pt-3">
<a asp-action="userquestions" class="bg-primary text-white border border-dark rounded p-2" style="text-decoration:none">START EXAM</a>
</div>