<h1>Important Instructions</h1>
<div>
	<ul>
		<li>The examination will comprise of Objective type Multiple Choice Questions (MCQs) </li>
		<li>All questions are compulsory and each carries One mark</li>
		<li>
			The total number of questions, duration of examination, will be different based on
			the course, the detail is available on your screen.
		</li>
		<li>
			There will be NO NEGATIVE MARKING for the wrong answers.
		</li>
		<li>
			The examination does not require using any paper, pen, pencil and calculator.
		</li>
		<li>Every student will take the examination on a Laptop/Desktop/Smart Phone</li>
		<li>The Time of the examination begins only when the ‘Start Test’ button is pressed.</li>
		<li>
			The answers can be changed at any time during the test and are saved
			automatically.
		</li>
		<li>It is possible to Review the answered as well as the unanswered questions.</li>
		<li>The Time remaining is shown in the  Top  of the screen.</li>
		<li>Arrange for stable Internet connectivity</li>
		<li> Giving examination on Laptop or Desktop is highly recommended</li>
		<li>Make sure mobile/laptop is fully charged. </li>
	</ul>
	
	<a asp-action="ExamSelection" class="bg-primary text-white border border-dark rounded p-2" style="text-decoration:none">START TEST</a>
	
</div>
